@model List<MVC_Library_Otomasyon.Model.Users>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="ibox">
            <div class="ibox-head">
                User
            </div>
            <div class="ibox-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>UserName</th>
                            <th>FullName</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>RegistrationDate</th>
                            <th>Transactions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(x => item.Id)</td>
                                <td>@Html.DisplayFor(x => item.Username)</td>
                                <td>@Html.DisplayFor(x => item.FullName)</td>
                                <td>@Html.DisplayFor(x => item.Phone)</td>
                                <td>@Html.DisplayFor(x => item.Email)</td>
                                <td>@Html.DisplayFor(x => item.RegistrationDate)</td>
                                <td align="center">
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger", oncliks = "retun confirn('Kayıt silinsin mi ')" })                                    
                                </td>

                                





                            </tr>
                        }
                    </tbody>
                </table>
                <div class="form-group">
                    @Html.ActionLink("New", "ekle" , null, new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
    </div>
</div>
