@model List<MVC_Library_Otomasyon.Model.BookGenres>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="ibox">
            <div class="ibox-head">
                Book Genres List
            </div>
            <div class="ibox-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Genre</th>
                            <th>Description</th>
                            <th>Actions</th>
                            <th>Actions</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(x => item.Genre)</td>
                                <td>@Html.DisplayFor(x => item.Description)</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
                                </td>
                                <td>
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                                </td>
                                <td>
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure you want to delete this genre?');" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="form-group">
                    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
    </div>
</div>
