@model List<MVC_Library_Otomasyon.Model.UserRoles>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="ibox">
            <div class="ibox-head">
                User Role
            </div>
            <div class="ibox-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>UserId</th>
                            <th>RoleId</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(x => item.Id)</td>
                                <td>@Html.DisplayFor(x => item.UserId)</td>
                                <td>@Html.DisplayFor(x => item.RoleId)</td>
                                <td align="center">
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Kayıt silinsin mi?')" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="form-group">
                    @Html.ActionLink("New", "Add", "UserRoles", null, new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
    </div>
</div>
